name: Get Finance News
on:
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *'
jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          feed_list: "https://rsshub.app/wallstreetcn/news/global,https://search.cnbc.com/rs/search/combinedcms/view.xml?partnerId=wrss01&id=10000664"
